body{
    margin: 0;
    padding: 0;
    background-image: url(picture/kontserti-dlya-tineidzherov-48b0307f-cefc-29b3-e32e-81fa033f324a.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  
}

.scene{
    display: flex;
        align-items: center;
        justify-content: center;
        min-height:100vh;
}
.letter{
    color: antiquewhite;
    margin: 10px;
  

}
.sound{
    
    color: rgb(244, 229, 20);
    text-transform:uppercase;
        letter-spacing:5px;
        margin: 0;

}