.buttonPlus{
    font-family: 'Dancing Script', cursive;
        background-color: rgb(233, 224, 224);
        border-radius: 10px;
        cursor: pointer;
        height: 50px;
        width: 70px;
}
body {
    background-image: url(images/galaxias.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
.text{
    font-family: 'Dancing Script', cursive;
}
.buttonMinus {
    font-family: 'Dancing Script', cursive;
    background-color: rgb(233, 224, 224);
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    width: 70px;
}
.button {
    font-family: 'Dancing Script', cursive;
    background-color: rgb(233, 224, 224);
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    width: 70px;
}